/* 

--- Zakladna: normalizace, typografie a barvy --- 

*/
body,
input,
textarea,
select {
  font: 15px/20px Georgia, serif;
}
p,
ul,
ol,
blockquote,
table,
iframe {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: .5em;
  font-family: Arial, sans-serif;
  line-height: 1.3em;
  color: #666;
}
a img {
  border: 0;
}
a {
  color: red;
}
table {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
table td,
table th {
  font: 12px/18px Arial, sans-serif;
  text-align: left;
  padding: 5px;
  border: 1px solid #ccc;
}
/* 

--- Helpery --- 

*/
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
.hide-on-screen {
  position: absolute;
  top: -200px;
}
/* 

--- Hlavicka webu --- 

*/
.head {
  background: url('../img/sportsmen.png') no-repeat right center;
  background-size: auto 150%;
}
/* 

--- Navigace --- 

*/
.nav {
  margin-bottom: 1.5em;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media print {
  .nav {
    display: none;
  }
}
/* Polozka navigace */
.nav-item {
  display: block;
  border-bottom: 1px solid #fff;
  background: black;
  padding: 1em 1em;
  text-decoration: none;
  text-align: center;
  height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
b .nav-item,
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  font-weight: normal;
  color: #fff;
}
.nav li:last-child .nav-item {
  border-bottom: none;
}
/* Layout pro siroke dipleje */
.nav li {
  width: 250px;
  float: left;
  margin: 0;
  padding: 0;
}
.nav-item {
  border-left: 1px solid #fff;
  border-bottom: none;
}
.nav li:first-child .nav-item {
  border-left: none;
}
/* Fotogalerie */
.photo a,
.photo img {
  display: block;
}
/* Paticka */
.foot {
  clear: both;
  padding: 3em 30px;
  background-color: #ccc;
  color: #999;
}
.foot p {
  margin-bottom: 0;
}
/* 

--- Layout - pro siroke displeje --- 

*/
.content img,
.side img {
  max-width: 100%;
  height: auto;
}
.content table,
.side table {
  width: 100%;
}
body {
  background: #ccc;
}
.container {
  width: 1000px;
  position: relative;
  margin: 3em auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
  color: 0px 0px 1em rgba(0, 0, 0, 0.5);
}
.logo {
  padding: 30px;
  margin: 0;
}
.content {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 540px;
  /* 600px */

}
.side {
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  width: 340px;
  /* 400px */

}
